.container {
    margin-top: 50px;
    width: 935px;
    text-align: center;
}

.container h1 {
    color: transparent;
    font-size: 5rem;
    line-height: 5rem;
    background-image: linear-gradient(
        -45deg,
        #71b7e6,
        #69a6ce,
        #b98acc,
        #ee8176,
        #b98acc,
        #69a6ce,
        #9b59b6
    );
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
}

.container h2 {
    color: transparent;
    font-size: 2rem;
    line-height: 3rem;
    background-image: linear-gradient(
        -45deg,
        #71b7e6,
        #69a6ce,
        #b98acc,
        #ee8176,
        #b98acc,
        #69a6ce,
        #9b59b6
    );
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
    margin-left: 10px;
}

@keyframes animateTextBackground {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0;
    }
}
