/* .container {
    width: 935px;
    height: 100%;
    background: linear-gradient(
        -45deg,
        #71b7e6,
        #69a6ce,
        #b98acc,
        #ee8176,
        #b98acc,
        #69a6ce,
        #9b59b6
    );
    animation: animateTextBackground 10s ease-in-out infinite;
    text-shadow: 1px 1px 2px transparentize(#fff, 0.75);
    background-size: 400%;
}

.container h1 {
    font-size: 18vh;
    font-weight: bold;
    position: relative;
    margin: 100px;
    padding: 0;
}

@keyframes animateTextBackground {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0;
    }
} */

.container {
    margin-top: 50px;
    width: 935px;
    text-align: center;
}

.container h1 {
    font-size: 6rem;
    line-height: 6rem;
}

.container h2 {
    font-size: 2rem;
    line-height: 2rem;
}
